.main {
    width: 800px;
    height: 400px;
    background-color: #edecea;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}
.left{
    width: 100%;

}
.messages-list{
        height: 280px;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 10px;
        padding: 10px;
        overflow-y: scroll;
}
.message{
    margin-bottom: 5px;
}
.new-message{
    height: 70px;
    background-color: white;
    border-radius: 20px;
    padding:10px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.new-message textarea{
    border:0;
    width:400px;
    height:100%;
}
.new-message button{
    background-color:#3735f4;
    color:white;
    padding: 30px 30px;
    border-radius:20px;
    border:0;
    cursor: pointer;
}
.users-list {
    width: 400px;
    background-color: white;
    border-radius: 20px;
    margin-left: 10px;
    padding: 10px;
}
.user-item{
    margin-bottom:5px;
}